
.light-mode {
    --primary-background-color: #ffffff;
    --button-background-color:#e6ecec;
    --button-hover-background-color:#cdd4d4;
    --thead-tfoot-background-color:hsl(0, 0%, 91%);
    --modal-background:hsl(0, 0%, 91%);
    --primary-font-color: black;
    --icon-color: #2d4a69;
    --charts-primary-font-color: black;
    --charts-toolTip-cursor-fill:hsl(0, 0%, 91%);
    --charts-toolTip-background:rgb(214, 214, 206);
    --charts-bar-fill: hsl(60, 5%, 78%);

    --font-color: #101212;
    --bg-color: #ffffff;
    --thead-tfoot-bg-color-light:#f2f2f2; 
    --primary-darkMode-font-color:#d8d8d8;

  }
  
  .dark-mode {
    --primary-background-color: #2d4a69;
    --button-background-color: #2d4a69;
    --button-hover-background-color:#1c426b;
    --thead-tfoot-background-color: #203449;
    --modal-background: linear-gradient(#141e30, #243b55);
    --primary-font-color:#d8d8d8;
    --icon-color:  #94a5b9;
    --charts-primary-font-color: #5888bb;
    --charts-toolTip-cursor-fill: #3e5c79;
    --charts-toolTip-background:#3d658f;
    --charts-bar-fill:#2d4a69;

    --font-color: #cccccc;
    --bg-color: #101212;
    --icon-color: #94a5b9;
    --td-bg-color: #2d4a69;
    --td-color:#d8d8d8;
    --select-color:#537499;
    --button-color:#d8d8d8;
    --barChart-colors:#5888bb;
    --primary-darkMode-font-color:#d8d8d8;
    --barChart--ToolTop--background:#3d658f;
    --toolTip-cursor-fill:#3e5c79;
    --primary-darkMode-color:#2d4a69;
  }