
.light-mode {
    --font-color: #101212;
    --bg-color: #ffffff;
    --thead-tfoot-bg-color-light:#f2f2f2; 
  }
  
  .dark-mode {
    --font-color: #cccccc;
    --bg-color: #101212;
    --icon-color: #94a5b9;
    --td-bg-color: #2d4a69;
    --td-color:#d8d8d8;
    --select-color:#537499;
    --button-color:#d8d8d8;
    --barChart-colors:#5888bb;
    --primary-darkMode-font-color:#d8d8d8;
    --barChart--ToolTop--background:#3d658f;
    --toolTip-cursor-fill:#3e5c79;
    --primary-darkMode-color:#2d4a69;


  }