.card {
  background-color: var(--card-background-color);
  border-radius: 10px;
  height: 100%;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div > span.amount {
  font-size: 2rem;
}

div > span.amountText {
  font-size: 1rem;
}
