.layout {
  height: 90%;
  display: grid;
  grid-template-rows: 2fr 5fr 4fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  width: 100%;
  padding-right: 40px;
  padding-top: 35px;
  margin: 0;
}

.dashboardControls {
  grid-row: 1 / span 3;
}

.charts_card {
  grid-column: 2 / span 3;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.secondGraph {
  grid-column: 2 / span 2;
  border-radius: 10px;
  background-color: white;
}

.charts_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}
