.layout {
  height: calc(100% - 40px);
  display: grid;
  grid-template-rows: 2 fr 2fr 5fr 4fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboardControls {
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.charts_card {
  grid-column: 1 / span 3;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.secondGraph {
  grid-column: 1 / span 2;
  border-radius: 10px;
}

.charts_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chart_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}

.firstRow {
  padding: 17px;
}
