.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  .modal-content {
    background: var(--modal-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    z-index: 1002;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  .modal-content h2 {
    color: var(--primary-font-color); 
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 2px; 
  }

  .modal-content p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

 .categoryLabel, .currencyLabel {
    color: var(--primary-font-color);
    padding-right: 10px;
}

.requestMessage {
    color: var(--primary-font-color);
}

.activityLabel{
    color: var(---primary-font-color);
    padding-right: 20px;
}

.amountLabel {
    color: var(--primary-font-color);
    padding-right: 17px;
    
}

.activityInput, .categoryInput, .amountInput, .currencyInput {
 background-color: var(--primary-background-color);
 color: var(--primary-font-color);
 border-radius: 5px;
 margin-top: 8px;
 width: 180px;
 box-sizing: border-box;
}

.currencyInput {
    margin-bottom: 20px;
}

.activityInput::placeholder, .amountInput::placeholder {
    color: var(--primary-font-color);
}


.input:focus {
    border: 3px solid #555;
}

  .submitButton, .openButton {
    background-color: var(--thead-tfoot-background-color);
    color: var(--primary-font-color);
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }

 .submitButton:hover, .openButton:hover, .closeButton:hover {
    background-color: var(--button-hover-background-color);
  }

.closeButton {
background-color: var(--thead-tfoot-background-color);
color: var(--primary-font-color);
margin-top: 10px;
padding: 10px 15px;
border: 1px solid black;
border-radius: 4px;
cursor: pointer;
float: right;
}

.submitButton {
margin-top: 10px;
}