html,
body {
  height: 100%;
}

.switch label {
  margin: 10px;
}

h2,
.switchLabel,
.currentTheme {
  color: var(--primary-font-color);
}

.container {
  width: 100%;
  padding-left: 25px;
  box-sizing: border-box;
}
